body {
    background-color: antiquewhite;
}

h1 {
    color: antiquewhite;
}

.header {
    padding: 60px;
    text-align: center;
    color:#28282B
    background-color:mistyrose;
}

.footer {
    text-align:center;
}

p.pink {
    color:pink
}

p.lightpink {
    color:lightpink
}

p.salmon {
    color:salmon
}

p.darksalmon {
    color:darksalmon;
}

p.mistyrose {
    color:mistyrose
}

p.lavenderblush {
    color:lavenderblush;
}

p.plum {
    color:plum;
}

p.thistle {
    color:thistle;
}